.container {
  display: flex;
  height: 200px;
}
.thumbnail { 
  width: 200px;
  height: 100%;
}
.rowDirection {
  flex-direction: row;
}
.colDirection {
  flex-direction: column;
}
.title {
  font-size: 24px;
  font-weight: 600;
}